@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #181818; */
  background-color: white;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 10vh;
}

.top-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  box-shadow: 16px 14px 20px #0000008c;
  border-radius: 10px;
  max-width: 100vh;
}

.bottom-container {
  display: flex;
  gap: 30px;
  padding: 10px;
  max-width: 100vh;
}

.top-container .first {
  max-width: 30vh;
  padding: 20px;
}

.top-container .second {
  padding: 20px;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

.bottom-container .first {
  padding: 20px;
  box-shadow: 16px 14px 20px #0000008c;
  border-radius: 10px;
  width: 50vh;
}

.bottom-container .second {
  padding: 20px;
  box-shadow: 16px 14px 20px #0000008c;
  border-radius: 10px;
  width: 50vh;
}

h3 {
  border-bottom: 0.1px solid #DFDFDE;
  padding-bottom: 10px;
}

input {
  border: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 200px;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid grey;
}

.blog:hover, .twitter_username:hover, .name:hover {
  text-decoration: underline;
}

.blog, .twitter_username, .name {
  cursor: pointer;
}

@media (max-width: 800px) {
  .bottom-container {
    flex-direction: column;
  }

  .top-container {
    flex-direction: column;
    gap: 0;
  }

  .top-container .first {
    max-width: 300px;
  }

  img {
    max-width: 100%;
  }
}
